<!-- Login Button (Top Right) -->
<div class="login-container">
    <button class="login-button"><a routerLink="/login">Login</a></button>
  </div>
  
  <!-- Main Heading/Hero Section -->
  <header class="mainHeading">
    <div class="mainHeading__content">
      <article class="mainHeading__text">
        <p class="mainHeading__preTitle">Welcome to MindRay!</p>
        <h2 class="mainHeading__title">Transforming X-Rays into Clear Medical Insights</h2>
        <p class="mainHeading__description">
          Your Health, Clearly Understood
        </p>
        <!-- Change the login button to: -->
<button class="login-button" >Start Now!</button>
      </article>
  
      <figure class="mainHeading__image">
        <img src="https://img.freepik.com/premium-photo/smiling-black-woman-doctor-with-stethoscope-with-his-arm-crossed_46383-3279.jpg" alt="">
      </figure>
    </div>
  </header>